    body {
        background-color: rgb(252, 218, 250);
        font: Normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322)

}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
    

}
footer {
    color: white;
    text-align: center;
    font-style: italic;

}
select {
    width: 150px;
}